# Database
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=gabino_usuario_bd
DB_PASSWORD=
DB_DATABASE=gabino_hacienda

# Server
PORT=3055

# TTL del cache de Firestore en milisegundos (default 4h)
CACHE_AUTH_TTL=
CACHE_USUARIOS_TTL=